

#project > img{
    width:300px;
    height:300px;
    object-fit: cover;
}



#project{
    width:300px;
    height:300px;  
    margin:15px; 
    transition: transform 100ms ease-in;
}

#project:hover{
color:white;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: #61dafb ; 
transform: scale(1.2);
}

.link{
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

.project-detail{
    padding: 12px;
    text-align: justify;
}

.project-title{
    font-size: 25px;
    font-weight: bold;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    color:white;
    padding: 15px;
    margin: auto;
    
}

.project-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width:60vw; */
    /* margin-top: 20px; */ 
}

.project-text{
    padding:10px;
    text-align: justify;
    color:white;
}

/* .project-img > img{
    object-fit: cover;
} */

#code-btn{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}

.card-and-btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}

.custom-colored-btn-front{
 background: #C33764;
 background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
 background: linear-gradient(to right, #1D2671, #C33764); 
}

.custom-colored-btn-back{
    background: #C33764;
    background: -webkit-linear-gradient(to right, #C33764, #1D2671);  
    background: linear-gradient(to right, #C33764, #1D2671); 
}

@media (min-width: 768px) { 
    .project-text{
        margin:20px;
    }
}



